*,*::before,*::after {
  box-sizing: border-box;
/* find atom plugin for prefixing */
}
html, body {
  margin: 0;
  overflow-x: hidden;
}

aside {
  position: fixed;
  width: 120px;

  max-width: 18vw;
  top: 120px;
  transform: translateX(2vw);
  border: 1px solid #C4C6C6;
}
ul {
  margin: 0;
  padding: 1em .25em 1em .5em;
  list-style-type: none;
}
li {
  margin: 1.25em auto;
}
a {
  text-decoration: none;
}
article {
  width: 80vw;
  max-width: 400px;
  margin: 0 auto 0 20vw;
}
p {
  margin: 1em 0;
  line-height: 1.4em;
}
h2 {
  text-align: center;
}
#target-one::before {
  content: " ";
  display: block;
  height: 75px;
  margin: -75px 0 0 0;
  background-color: #C4C6C6;
}
