/* KNOW.SCSS TEMPLATE FILE */
 @import url('https://fonts.googleapis.com/css?family=Noto+Sans:700i|PT+Mono|Lora');
 $header: 'Noto Sans', 'Source Sans Pro', 'Helvetica Neue', sans-serif;
 $pre-code: 'PT Mono', monospace;
 $paragraph: 'Lora';
/*
classes with font-family
*/
body {
    font-family: $paragraph;
}
h1, h2, h3 {
    font-family: $header;
}
.markdown-section p.tip:before {}

.markdown-section code,
.markdown-section pre,
.markdown-section pre > code {
    font-family: $pre-code;
}
/* _coverpage button */
section.cover .cover-main > p:last-child a {
    border-radius: 4px;
}
/*
with background or background-color
vue.css green is #42b983
override in window.$doscify with
themeColor: Mandy Red
And that replaces any CSS where a color is set with
var(--theme-color, #42b983);

*/





@media screen and (max-width: 768px) {}
