
@import url("https://fonts.googleapis.com/css?family=Noto+Sans:700i|PT+Mono|Lora");

body {
  font-family: "Lora"; }

h1, h2, h3 {
  font-family: "Noto Sans", "Source Sans Pro", "Helvetica Neue", sans-serif; }

.markdown-section code,
.markdown-section pre,
.markdown-section pre > code {
  font-family: "PT Mono", monospace; }

section.cover .cover-main > p:last-child a {
  border-radius: 4px; }
